@import "../../Scss/reset";
@import "../../Scss/vars";
@import "../../Scss/base";
@import "../../Scss/fonts";

.watchLaterList {
  display: flex;
  margin-top: 50px;
  height: 80%;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  p {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-self: center;
    @include headers-font;
    font-size: 20px;
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
