@import "../../Scss/reset";
@import "../../Scss/vars";
@import "../../Scss/base";
@import "../../Scss/fonts";

.watchLaterList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  align-items: center;
  gap: 30px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin-top: 50px;
  height: 100%;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  p {
    position: absolute;
    justify-self: center;
    @include headers-font;
    font-size: 20px;
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.watchLaterListDark {
  @extend .watchLaterList;
  background-color: $darker;
}

.watchLaterList::-webkit-scrollbar {
  height: 10px;
}
.watchLaterList::-webkit-scrollbar-track {
  display: none;
}
.watchLaterList::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}
